<section class="infoForm">
    <h1>Sign-In</h1>
    <form class="reg-form" action="/user/login" method="post">
        <label for="log-email">Email</label><br>
        <input type="text" {{#if this.email}} class="red-border" {{/if}} {{#if this.emailValue}}
            value="{{this.emailValue}}" {{/if}} id="log-email" name="log-email" autocomplete="email" tabindex="1"
            placeholder="example@gmail.com"><br>
        {{#if this.email}}
        <p class="errors">{{this.email}}</p>
        {{/if}}
        <label for="log-password">Password</label><br>
        <input type="password" {{#if this.password}} class="red-border" {{/if}} {{#if this.passwordValue}}
            value="{{this.passwordValue}}" {{/if}} name="log-password" id="log-password" tabindex="2"><br>
        {{#if this.password}}
        <p class="errors">{{this.password}}</p>
        {{/if}}
        <p><a href="">Need help?</a></p>
        {{#if hasErrors}}
        {{#each messages}}
        <p class="errors">*{{this}}</p>
        {{/each}}
        {{/if}}
        <input type="submit" name="submit" value="Sign In" tabindex="3"><br>
        <p>New to Amzon? <a href="/form/registration">Create Your Amazon account</a></p>
    </form>
</section>