<section class="promotion">
    <h2>Promotion: <a href="">see more deals</a></h2>
    <div class="img-container">
        <div class="inner-container">
            <h1>Special Offer<br>Valentine's Day<br>50% OFF SALE</h1>
        </div>
    </div>
</section>

<section class="product-category">
    {{#each cat}}
    <div class="category-item">
        <h2>
            {{this.category}}
        </h2>
        <a href="/products/category/{{this.id}}"><img src="/uploads/{{this.categoryImg}}" alt="{{this.category}}"> </a>
        <a href="/products/category/{{this.id}}">
            Explore now
        </a>
    </div>
    {{/each}}
</section>

<section class="best-seller">
    <h2>Best Sellers:</h2>
    <div class="best-seller-item">
        {{#each bestSellerInfo}}
        <img src="/uploads/{{this.productImg}}" alt={{this.title}}>
        {{/each}}
    </div>
</section>