<section class="productDash">
    <h1>Products Dashboard</h1>

    <form class="products-search-form" method="POST" action="/products/search">
        <label>Search By</label>
        <select class="products-select" name="products-search">
            <option value="all">All Products</option>
            {{#each cat}}
            <option value="{{this.category}}" {{#if this.select}} selected {{/if}}>{{this.category}}</option>
            {{/each}}
        </select>
        <input class="product-search-button" type="submit" value="Search">
    </form>
    <div class="product-links-holder">
        <a href="/product/addCategory">Add a Category</a><br><br>
        <a href="/product/add">Add a product</a>
    </div>
    <div class="cat-pro-list">
        <h2>Category List: </h2>
        <div class="product-item-container cat-container">
            {{#each cat}}
            <div class="product-item">
                <img src="/uploads/{{this.categoryImg}}" alt={{this.category}}>
                <p>
                    Category: {{this.category}}<br>
                    <a href="/category/edit/{{this.id}}">Edit</a>
                    <a href="/category/delete/{{this.id}}?method=DELETE" class="delete-button">Delete</a>
                </p>

            </div>
            {{/each}}
        </div>
    </div>

    <div class="cat-pro-list">
        <h2>Product List: </h2>
        <div class="product-item-container">
            {{#each productList}}
            <div class="product-item">
                <img src="/uploads/{{this.productImg}}" alt={{this.title}}>
                <p>
                    Title: {{this.title}}<br>
                    Category: {{this.category}}<br>
                    Description: {{this.description}}<br>
                    Price: ${{this.price}}<br>
                    Inventory: {{this.inventory}}<br>
                    Bestseller: {{this.bestSeller}}<br>
                    <a href="/product/edit/{{this.id}}">Edit</a>
                    <a href="/product/delete/{{this.id}}?method=DELETE" class="delete-button">Delete</a>
                </p>

            </div>
            {{/each}}
        </div>
    </div>

</section>