<section class="products">
    <div class="product-cate">
        <input type="checkbox" id="cate-nav">
        <label for="cate-nav" class="cate-nav">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="cate-responsive">
            <li class="cate-title">
                <span>Category</span>
            </li>
            <ul class="cate-list">
                {{#each cat}}
                <li><a href="/category/{{this.id}}" {{#if this.show}} class="bold" {{/if}}>{{this.category}}</a></li>
                {{/each}}
                <li><a href="/products">View All</a></li>
            </ul>
        </ul>
    </div>
    <div class="product-list">
        <h2>Product List: </h2>
        <div class="product-item-container">
            {{#each productList}}
            <div class="product-item">
                <a href="/productDescription"><img src="/uploads/{{this.productImg}}" alt={{this.title}}></a>
                <p>
                    {{this.title}}<br>
                    Category: {{this.category}}<br>
                    Price: ${{this.price}} <span class={{this.showBestSeller}}>&#10004;Bestseller</span>
                </p>
            </div>
            {{/each}}
            {{#if notmatch}}
            <p>No Mathc Result</p>
            {{/if}}
        </div>
    </div>
</section>