<section class="productDash">
    <h1>Products Dashboard</h1>

    <form class="products-search-form" method="POST" action="/products/search">
        <label>Search By</label>
        <select class="products-select" name="products-search">
            <option value="all">All Products</option>
            {{#each cat}}
            <option value="{{this.category}}"{{#if this.select}} selected {{/if}}>{{this.category}}</option>
            {{/each}}
        </select>
        <input class="product-search-button" type="submit" value="Search">
    </form>
    <div class="product-links-holder">
        <a href="/product/addCategory">Add a Category</a>
    </div>
    <div class="product-links-holder">
        <a href="/product/add">Add a product</a>
    </div>
    <div class="category-table">
        <table border="1">
            <thread>
                <th>Caregory</th>
                <th>Image</th>
                <th>Operation</th>
            </thread>
            <tbody>
                {{#each cat}}
                <tr>
                    <td>
                        <span>{{this.category}}</span>
                    </td>
                    <td>
                        <img src="/uploads/{{this.categoryImg}}" alt="{{this.category}}">
                    </td>
                    <td>
                        <a href="/category/edit/{{this.id}}" class="edit-delete-button">Edit</a> <br><br>
                        <a href="/category/delete/{{this.id}}?method=DELETE" class="edit-delete-button">Delete</a>
                    </td>
                </tr>
                {{else}}
                <td colspan="3">
                    <p>No categories in the database</p>
                </td>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="products-table">
        <table border="1">
            <thread>
                <th>Title</th>
                <th>Image</th>
                <th>Category</th>
                <th>Price</th>
                <th>Inventory</th>
                <th>Bestseller</th>
                <th>Operation</th>
            </thread>
            <tbody>
                {{#each productList}}
                <tr>
                    <td>
                        <span>{{this.title}}</span>
                    </td>
                    <td>
                        <img src="/uploads/{{this.productImg}}" alt="{{this.title}}">
                    </td>
                    <td>
                        <span>{{this.category}}</span>
                    </td>
                    <td>
                        <span>{{this.price}}</span>
                    </td>
                    <td>
                        <span>{{this.inventory}}</span>
                    </td>
                    <td>
                        <span>{{this.bestSeller}}</span>
                    </td>
                    <td>
                        <a href="/product/edit/{{this.id}}" class="edit-delete-button">Edit</a> <br><br>
                        <a href="/product/delete/{{this.id}}?method=DELETE" class="edit-delete-button">Delete</a>
                    </td>
                </tr>
                {{else}}
                <td colspan="7">
                    <p>No products in the database</p>
                </td>
                {{/each}}
            </tbody>
        </table>
    </div>


</section>